body {
    margin: 0;
    padding: 0;
    font-size: 93.75%;
    -webkit-font-smoothing: antialiased;
}
a, a:link, a:visited {
    color: #0070ba;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
#login {
    margin: 0 auto;
    width: 460px;
}
#loginSegment {
    position: relative;
    margin: 120px auto 0;
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    border-radius: 5px;
    overflow: hidden;
}
#loginHeader {
    text-align: center;
    padding-bottom: 20px;
}
#loginHeaderPic {
    width: 60px;
}
.fieldWrapper {
    padding: 0 0 20px 0;
}
.fieldWrapper input {
    height: 44px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9da3a6;
    background: #fff;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    color: #000;
    font-size: 1em;
    transition: border .2s ease-in-out;
}
#loginBtn {
    width: 100%;
    min-height: 44px;
    padding: 0;
    border: 0;
    display: block;
    background-color: #0070ba;
    box-shadow: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    transition: background-color .4s ease-out;
}
#loginBtn:hover {
    background-color: #005ea6;
    outline: 0;
}
#forgotLink {
    margin: 20px 0;
    text-align: center;
}
#signUpDivider {
    border-top: 1px solid #cbd2d6;
    position: relative;
    margin: 25px 0 10px;
    text-align: center;
}
#signUpDividerText {
    background-color: #fff;
    padding: 0 .5em;
    position: relative;
    color: #999;
    top: -.7em;
}
#signUpBtn {
    display: block;
    width: 100%;
    min-height: 44px;
    padding: 11px;
    border: 0;
    color: #2C2E2F;
    background-color: #E1E7EB;
    box-shadow: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    text-shadow: none;
    text-decoration: none;
    transition: background-color .4s ease-out;
}
#signUpBtn:hover {
    background-color: #d2dbe1;
}
